In [6]:
import pandas as pd

# load the ADHD CSV dataset file into a DataFrame
df = pd.read_csv('traq10_dataset.csv', sep=';')

# display first 10 rows
df.head(10)

,subject,group,gender,age,nsc,tr1,tr2,tr3,tr4,tr5,...,demo17,demo18,demo19,demo20,demo21,demo22,demo23,demo24,demo25,demo26
0,S01,1,0,35,1,5,6,5,3,6,...,4,4,1,2,4,3,1,2,4,3
1,S02,1,1,25,4,5,3,5,5,6,...,4,2,1,2,4,3,1,4,4,4
2,S03,1,1,18,2,5,5,6,5,5,...,4,4,1,2,4,3,1,2,4,3
3,S04,1,1,40,2,6,6,6,6,5,...,4,2,1,2,4,3,1,4,4,4
4,S05,1,0,29,2,4,6,6,6,3,...,2,2,2,2,4,3,2,2,4,2
5,S06,1,0,35,3,5,5,6,5,6,...,4,3,1,2,3,4,1,3,3,3
6,S07,1,1,35,3,5,5,6,5,4,...,3,2,2,2,2,2,2,3,3,2
7,S08,1,0,27,2,3,4,5,5,3,...,4,3,1,4,4,3,1,4,3,4
8,S09,1,0,19,3,5,6,6,6,5,...,4,4,4,4,4,4,1,4,4,3
9,S10,1,0,30,1,5,4,6,6,6,...,3,4,1,3,4,4,1,1,4,3

There are 110 ADHD and 110 non-ADHD people in each group. Group 1 has been diagnosed with ADHD, group 2 does not have an ADHD diagnosis.

There are 3 questionnaires that each person has completed.
1. TRAQ10 - new questionnaire based off DSM-5 list of symptoms / behavioural ADHD traits
2. DASS21 - Depression, Anxiety and Stress Scale 21-item scale
3. DEMO - Scale of Adherence to the Values of the Ideal Democracy, used as a “negative-control scale”

Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9202159/