In [47]:
import pandas as pd

# load the ADHD CSV dataset file into a DataFrame
df = pd.read_csv('questionnaire_dataset.csv', sep=';')

# info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 95 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   subject  220 non-null    object
 1   group    220 non-null    int64
 2   gender   220 non-null    int64
 3   age      220 non-null    object
 4   nsc      220 non-null    int64
 5   tr1      220 non-null    int64
 6   tr2      220 non-null    int64
 7   tr3      220 non-null    int64
 8   tr4      220 non-null    int64
 9   tr5      220 non-null    int64
 10  tr6      220 non-null    int64
 11  tr7      220 non-null    int64
 12  tr8      220 non-null    int64
 13  tr9      220 non-null    int64
 14  tr10     220 non-null    int64
 15  tr11     220 non-null    int64
 16  tr12     220 non-null    int64
 17  tr13     220 non-null    int64
 18  tr14     220 non-null    int64
 19  tr15     220 non-null    int64
 20  tr16     220 non-null    int64
 21  tr17     220 non-null    int64
 22  tr18     220 non-null    int64
 23  tr19     220 non-null    int64
 24  tr20     220 non-null    int64
 25  tr21     220 non-null    int64
 26  tr22     220 non-null    int64
 27  tr23     220 non-null    int64
 28  tr24     220 non-null    int64
 29  tr25     220 non-null    int64
 30  tr26     220 non-null    int64
 31  tr27     220 non-null    int64
 32  tr28     220 non-null    int64
 33  tr29     220 non-null    int64
 34  tr30     220 non-null    int64
 35  tr31     220 non-null    int64
 36  tr32     220 non-null    int64
 37  tr33     220 non-null    int64
 38  tr34     220 non-null    int64
 39  tr35     220 non-null    int64
 40  tr36     220 non-null    int64
 41  tr37     220 non-null    int64
 42  tr38     220 non-null    int64
 43  tr39     220 non-null    int64
 44  tr40     220 non-null    int64
 45  tr41     220 non-null    int64
 46  tr42     220 non-null    int64
 47  tr43     220 non-null    int64
 48  dass1    220 non-null    int64
 49  dass2    220 non-null    int64
 50  dass3    220 non-null    int64
 51  dass4    220 non-null    int64
 52  dass5    220 non-null    int64
 53  dass6    220 non-null    int64
 54  dass7    220 non-null    int64
 55  dass8    220 non-null    int64
 56  dass9    220 non-null    int64
 57  dass10   220 non-null    int64
 58  dass11   220 non-null    int64
 59  dass12   220 non-null    int64
 60  dass13   220 non-null    int64
 61  dass14   220 non-null    int64
 62  dass15   220 non-null    int64
 63  dass16   220 non-null    int64
 64  dass17   220 non-null    int64
 65  dass18   220 non-null    int64
 66  dass19   220 non-null    int64
 67  dass20   220 non-null    int64
 68  dass21   220 non-null    int64
 69  demo1    220 non-null    int64
 70  demo2    220 non-null    int64
 71  demo3    220 non-null    int64
 72  demo4    220 non-null    int64
 73  demo5    220 non-null    int64
 74  demo6    220 non-null    int64
 75  demo7    220 non-null    int64
 76  demo8    220 non-null    int64
 77  demo9    220 non-null    int64
 78  demo10   220 non-null    int64
 79  demo11   220 non-null    int64
 80  demo12   220 non-null    int64
 81  demo13   220 non-null    int64
 82  demo14   220 non-null    int64
 83  demo15   220 non-null    int64
 84  demo16   220 non-null    int64
 85  demo17   220 non-null    int64
 86  demo18   220 non-null    int64
 87  demo19   220 non-null    int64
 88  demo20   220 non-null    int64
 89  demo21   220 non-null    int64
 90  demo22   220 non-null    int64
 91  demo23   220 non-null    int64
 92  demo24   220 non-null    int64
 93  demo25   220 non-null    int64
 94  demo26   220 non-null    int64
dtypes: int64(93), object(2)
memory usage: 163.4+ KB

In [48]:
# show first 5 rows
df.head(5)

,subject,group,gender,age,nsc,tr1,tr2,tr3,tr4,tr5,...,demo17,demo18,demo19,demo20,demo21,demo22,demo23,demo24,demo25,demo26
0,S01,1,0,35,1,5,6,5,3,6,...,4,4,1,2,4,3,1,2,4,3
1,S02,1,1,25,4,5,3,5,5,6,...,4,2,1,2,4,3,1,4,4,4
2,S03,1,1,18,2,5,5,6,5,5,...,4,4,1,2,4,3,1,2,4,3
3,S04,1,1,40,2,6,6,6,6,5,...,4,2,1,2,4,3,1,4,4,4
4,S05,1,0,29,2,4,6,6,6,3,...,2,2,2,2,4,3,2,2,4,2

In [49]:
# describe the dataframe
df.describe()

,group,gender,nsc,tr1,tr2,tr3,tr4,tr5,tr6,tr7,...,demo17,demo18,demo19,demo20,demo21,demo22,demo23,demo24,demo25,demo26
count,220.00000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,...,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000,220.000000
mean,0.50000,0.195455,2.745455,3.513636,3.790909,4.959091,4.481818,4.013636,3.690909,3.259091,...,3.536364,2.640909,1.413636,2.045455,3.604545,2.963636,1.359091,2.131818,3.531818,2.886364
std,0.50114,0.397455,0.905956,1.608992,1.619490,1.300916,1.457037,1.637125,1.678472,1.699089,...,0.754618,1.017275,0.797711,0.935220,0.754274,0.987846,0.772329,1.000405,0.818667,0.886631
min,0.00000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.00000,0.000000,2.000000,2.000000,2.000000,4.000000,3.750000,3.000000,2.000000,2.000000,...,3.000000,2.000000,1.000000,1.000000,3.000000,2.000000,1.000000,1.000000,3.000000,2.000000
50%,0.50000,0.000000,3.000000,4.000000,4.000000,5.000000,5.000000,4.000000,4.000000,4.000000,...,4.000000,3.000000,1.000000,2.000000,4.000000,3.000000,1.000000,2.000000,4.000000,3.000000
75%,1.00000,0.000000,3.000000,5.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,...,4.000000,3.000000,2.000000,3.000000,4.000000,4.000000,1.000000,3.000000,4.000000,4.000000
max,1.00000,1.000000,5.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

There are 110 ADHD and 110 non-ADHD people in each group. Group 1 has been diagnosed with ADHD, group 2 does not have an ADHD diagnosis.

There are 3 questionnaires that each person has completed.
1. TRAQ10 - new questionnaire based off DSM-5 list of symptoms / behavioural ADHD traits
2. DASS21 - Depression, Anxiety and Stress Scale 21-item scale
3. DEMO - Scale of Adherence to the Values of the Ideal Democracy, used as a “negative-control scale”

Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9202159/

In [50]:
# split the dataset into adhd and not adhd group
mixed_adhd_df = df[df['group'] == 1] 
mixed_no_adhd_df = df[df['group'] == 0] 

# split the data further by gender
women_adhd_df = mixed_adhd_df[mixed_adhd_df['gender'] == 0] 
men_adhd_df = mixed_adhd_df[mixed_adhd_df['gender'] == 1]
women_no_adhd_df = mixed_adhd_df[mixed_adhd_df['gender'] == 0]
men_no_adhd_df = mixed_adhd_df[mixed_adhd_df['gender'] == 1]

print(f'Gender split (female/male) of the adhd data: {len(women_adhd_df)}/{len(men_adhd_df)}')
print(f'Gender split (female/male) of the non adhd data: {len(women_adhd_df)}/{len(men_adhd_df)}')

Gender split (female/male) of the adhd data: 86/24
Gender split (female/male) of the non adhd data: 86/24

In [93]:
# pTRAQ questions
# load the pTRAQ questions description CSV dataset file into a DataFrame
ptraq_questions = pd.read_csv('pTRAQ_questions.csv', sep=';')
# drop last row
ptraq_questions.drop(ptraq_questions.index[-1], inplace=True)

In [94]:
# add a column corresponding to the questionnaire dataset 
ptraq_questions = ptraq_questions.assign(question_code=[f'tr{i}' for i in range(1,43+1)])
ptraq_questions.head()

,Critère DSM-5,ID Critère,ID Projet,French Item (Validated),English Item (Author's suggestion),question_code
0,A,A1,pTRAQ1,Je ne prête pas vraiment attention aux détails,I don't really pay attention to details,tr1
1,A,A2,pTRAQ2,On me reproche des imprécisions dans mon travail,I have been accused of inaccuracies in my work,tr2
2,A,A3,pTRAQ3,Je fais souvent des fautes d’étourderie dans m...,I often make careless mistakes in my activities,tr3
3,B,B1,pTRAQ4,J’ai du mal à maintenir mon attention au travail,I have trouble maintaining my attention at work.,tr4
4,B,B2,pTRAQ5,J’ai des difficultés à rester concentré pendan...,I have difficulty staying focused while readin...,tr5

In [97]:
# DASS-21 questionnaire questions
dass21_questions = pd.read_csv('DASS21_questions.csv', sep=';')
# add a column corresponding to the questionnaire dataset 
dass21_questions = dass21_questions.assign(question_code=[f'dass{i}' for i in range(1,21+1)])
dass21_questions.head()

,question number,area,question,question_code
0,1,s,I found it hard to wind down,dass1
1,2,a,I was aware of dryness of my mouth,dass2
2,3,d,I couldn’t seem to experience any positive fee...,dass3
3,4,a,I experienced breathing difficulty (e.g. exces...,dass4
4,5,d,I found it difficult to work up the initiative...,dass5

DASS-21:

The rating scale is as follows:
0 Did not apply to me at all
1 Applied to me to some degree, or some of the time
2 Applied to me to a considerable degree or a good part of time
3 Applied to me very much or most of the time

Source: https://www.bristol.ac.uk/media-library/sites/sps/documents/c-change/dass.pdf